.cart-page {
  padding-bottom: 40px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  gap: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.item-details {
  flex: 1;
}

.cart-summary h4 {
  font-size: 1.2rem;
}

.btn.btn-success.mt-3 {
  background-color: #0d6efd;
  border-color: #0e4392;
}
