body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel img {
  max-height: 500px; /* أو أي ارتفاع تحبه */
  object-fit: cover;  /* يخلي الصورة تغطي المساحة بدون تشويه */
  width: 100%;       /* عشان تمتد طول الكاروسيل */
}
